{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link type="text/css" href="{% static 'im/css/chat.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="chat-container">
    <aside class="chat-list">
        {% for id, title in chats.items %}
            <div class="chat">
                <a href="{{id}}" class="menu-button-chats">{{title}}</a>
            </div>
        {% endfor %}
    </aside>
        {% block message_window %}
        {% endblock %}
</div>
{% endblock %}