{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="{% static 'im/css/menu.css' %}" rel="stylesheet" />
    {% block extra_css %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <div class="wrapper">
        <div class="sidebar">
            <div class="user-info">
                <a href="/profile" class="menu-button">{{ user.first_name }} {{ user.last_name }}</a>
            </div>
            <ul class="menu">
                <li class="menu-item">
                    <a href="/im" class="menu-button">Сообщения</a>
                </li>
                <li class="menu-item">
                    <a href="/" class="menu-button">Казино</a>
                </li>
                <li class="menu-item">
                    <a href="/bets" class="menu-button">Ставки</a>
                </li>
                <li class="menu-item">
                    <a href="/friends" class="menu-button">Друзья</a>
                </li>
            </ul>
            <a class="btn btn-primary" href="/users/logout">Выйти</a>
        </div>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>


